.bookmark {
    margin-top: 24px;
    padding: 30px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    position: sticky;
    top: 120px;
}

.bookmark .title {
    font-weight: 700;
    font-size: 24px;
    color: #111111;
}

.bookmark .description {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #111111;
}