.banner-image {
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.cc-button{
    transform: translate(80%,-50%);
}
.cs-ex-card{
    transform: translate(0%,-5%)

}
ul {
    list-style-type: '\2713';
    font-size: 1.2rem;
    padding-left: 10px;
    line-height:2rem;
}

ul li {
    margin-left: 5px;
}

@media screen and (max-width:576px) {
    .banner-image {
        width: auto;
        height: 80vh;
    }
    .cs-ex-card{
        transform: translate(0%,0%)
    
    }
}