.nav-container{
    background-color: #170842;
    color: white;
    
}
.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

nav.header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}
nav.header img{
    margin-left: 20px;
    width: 80px;
    border-radius: 50%;
cursor: pointer;
}
nav .search input{
font-size: 18px;
border-radius: 4px;
margin-right: 10px;
outline: none;
}
nav .search button{
    background-color: rgb(47, 146, 113);
    color: white;
    
}