@keyframes bounce {
    0%, 100% {
        /* transform: translateY(-3%); */
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
        transform: scale(0.9);
    }
}
.animate-custom:hover {
    animation: bounce 0.8s infinite;
}