/* global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

main {
    background: #f5efff;
}

section {
    max-width: 870px;
    margin: 0 auto;
    /* background: #FFFFFF; */
}

.section-tittle {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}


/*max-width: 870px */
/* header */
.nav {
    background: #562EFF;

}

.nav-container {
    max-width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav .nav-tittle {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.nav .nav-tittle img {
    width: 41px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 36px;
    align-items: center;
}

.nav ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* top player */
.top-player {
    padding-top: 36px;

}

.top-player>div {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
}


.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
}

.player {
    display: flex;
    gap: 16px;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

/* top blog */
.top-blog .section-tittle {
    margin-top: 0px;
}

.top-blog>div {
    background: #FFFFFF;
    padding: 30px;
    padding-top: 0px;
    border-radius: 5px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.blog {
    display: flex;
    gap: 16px;
    align-items: center;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* align-items: center; */
    justify-content: center;
}

.blog-tittle {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin: 0px;
}


.blog-author {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
    margin: 0px;
}

.blog-author span {
    color: #562EFF;
}

/* latest course */
.lates-course {
    margin-top: 21px;
}


.lates-course>div {
    background: #FFFFFF;
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;

}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    padding: 13px 11px;

}

.course img {
    width: 224px;
}

.course-tittle {
    font-weight: 500;
    font-size: 20px;
    color: #1E1E1E;
    margin: 0px;

}

.course-author {
    font-weight: 400;
    font-size: 15px;
    color: #ED6B4F;
    margin: 0px;

}

.course-details {
    display: flex;
    justify-content: space-between;

}

.rates {
    display: flex;
    gap: 4px;
    align-items: center;

}

.rates img {
    width: 12px;
    height: 12px;
}

.rates span {
    margin-left: 10px;
}

.course-time {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FF4A60;
    background: #FFE4E8;
    padding: 4px;
    border-radius: 30%;
}

.course-time img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width:576px) {
    .nav-container {
        padding: 0px 5px;
    }

    .nav .nav-tittle {
        gap: 10px;
        line-height: 30px;

    }

    .nav .nav-tittle img {
        width: 36px;
    }

    .nav ul {
        gap: 8px;
    }


    .players, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }




}