.activeNav {
  border: 2px solid rgb(196, 80, 80);
  color: rgb(196, 80, 80);
  margin-right: 8px;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px 8px;
}

.defaultNav {
  text-decoration: none;
  margin-right: 8px;
  background-color: #ffffff;
  color: rgb(196, 80, 80);
  border-radius: 8px;
  padding: 5px 8px;
}